# Default ignored files
/../../Search Problem /.idea/shelf/
/../../Search Problem /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Search Problem /.idea/httpRequests/
# Datasource local storage ignored files
/../../Search Problem /.idea/dataSources/
/../../Search Problem /.idea/dataSources.local.xml
